/* Move down content because we have a fixed navbar that is 50px tall */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-lg {
	font-size: 36px;
}

div.jumbotron {
	text-align: center;
	background-image: url('../images/background.jpg');
	background-position: center;
	color: white;
	background-size: 100%;
	background-repeat:no-repeat;
	/*min-height: 500px;*/
	background-color:white;
}

div.jumbotron h1, ul.nav, div.navbar-header, .why h2, .why h3 {
	font-family: 'Ubuntu', courier, sans-serif;
}

ul.nav {
	font-size: 13px;
}

div.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	margin-bottom: 50px;
}

div.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.emphasize {
	color: red;
	font-weight: bold;
}

.why {
	text-align: center;
}

.why h2, .why h3{
	color: #d9534f;
	text-transform: uppercase;
}

.why p{
	font-size: 18px;
	font-weight: 300;
}

.form-control-success{
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #49b952!important;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.margin-twenty{
	margin-top: 20px;
}

.img-profile-size{
	width: 15%;
	height: 15%;
	min-width: 15%;
	min-height: 15%;
	border-radius: 50% !important;
}

.img-prop-size{
	width: 7%;
	height: 7%;
	min-width: 7%;
	min-width: 7%;
}

.flex-content-start{
	display: flex;
	-webkit-display: flex;
	-moz-display:flex;
	align-items: center;/*que carajo quise hacer?*/

	
}

.section-propuesta{
	width: 49%;
	
}

.article-margin-side{
	margin-left: 10px;
	margin-right: 10px;
}
section{
	margin-bottom: 20px;
}

.prupuesta-estilos{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	
}
img.logoBA {
    height: 35px !important;
}
.navbar-inverse {
    background-color: #303030 !important;
    
   
}